<% unless current_user == user %>
  <div id="follow">
  　<% if current_user.following?(user) %>
    <!--フォローしている場合-->
    <!--(current_user.active_relationships.find_by(followed_id: user.id))で
        Relationの自分がフォローしている方にいる時のfollowed_idに相手のuser.idもいるPKを取得しているのかも？？-->
      <%= link_to relationship_path(current_user.active_relationships.find_by(followed_id: user.id)), method: :delete do %>
        フォローを外す
      <% end %>

    <% else %>
    <!--フォローしていない場合-->
      <%= link_to relationships_path( followed_id: user.id), method: :post do %>
        フォローする
      <% end %>
    <% end %>
  </div>
<% end %>